opencv-python-headless
openai
PyPDF2
langchain
tqdm
python-dotenv
faiss-cpu
huggingface-hub
langchain-community
sentence-transformers
streamlit_option_menu
paddleocr
paddlepaddle
pdfplumber
PyMuPDF
torch
PyOpenGL

